<section class="section">
    <div class="wrapper" wrapper-width="wide">
        <nav>
            <a routerLink="">
                <img routerLink="#" class="nav-icon" src="assets/icons/holly-berry-solid.svg" alt="">
            </a>
            <ul>
                <li>
                    <a routerLink="about">Sobre mí</a>
                    <!-- <a routerLink="#">Proyectos</a>
                    <a routerLink="#">Contacto</a> -->
                </li>
            </ul>
        </nav>
    </div>
</section>