<div class="nav-container">
    <div class="wrapper" wrapper-width="wide">
        <nav>
            <a class="nav-brand" (click)="navigateTo('#hero')" href="javascript:void(0)" aria-label="Ir al inicio">
                <img class="nav-icon" src="assets/images/logo.svg" alt="joseadu logo">
            </a>
            <ul class="nav-links">
                <li>
                    <a (click)="navigateTo('#about')" href="javascript:void(0)">Sobre mí</a>
                </li>
                <li>
                    <a (click)="navigateTo('#experience')" href="javascript:void(0)">Experiencia</a>
                </li>
            </ul>
        </nav>
    </div>
</div>