/* :host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: flex;
    gap: var(--spacing-09);
}

.nav-icon {
    width: 40px;
    height: 40px;
    color: red;
}