@import url(styles/variables/_typography.css);
@import url(styles/variables/_color.css);
@import url(styles/variables/_spacing.css);
@import url(styles/utilities/utilities.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    overflow-y: auto; /* Permite desplazamiento vertical */
    position: relative; /* Evita problemas con el fondo */
    font-family: "Roboto Mono", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.flow > * + * {
    margin-top: var(--spacing-05);
}